[icingaweb2]
type = "db"
db = "mysql"
host = "localhost"
port = ""
dbname = "icingaweb2"
username = "icingaweb2"
password = "12345"
charset = ""
persistent = "0"

[icinga2]
type = "db"
db = "mysql"
host = "localhost"
port = ""
dbname = "icinga2"
username = "root"
password = "{{ mysql_root_pass }}"
charset = ""
persistent = "0"
